@import "../00.settings/all-settings";

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

%flex-space-between-center {
  @extend %flex-space-between;
  align-items: center;
}

%flex-base {
  display: flex;
  gap: $space-base;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%flex-col-xs {
  @extend %flex-col;
  gap: $space-xs;
}

%flex-col-base {
  @extend %flex-col;
  gap: $space-base;
}
