// Our Utility classes (like Tailwind does)
// Things to center and structuring elements: margins, paddings, center elements, etc.
// example: is-centered, is-error, etc

@import "./typography";

.inline-block {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.fit-content {
  width: fit-content;
}
