.project-card.dark-theme {
  background-color: $card-color-dark;
  color: $text-color-dark;
}

.project-card.dark-theme .progress-bar {
  &__bar {
    background-color: $white;
  }
  &__max-amount {
    color: $text-color-dark;
  }
}

.project-card.dark-theme .inner-bar {
  &__bar {
    color: $text-color;
  }
  &__max-amount {
    color: $text-color;
  }
}
