@use "../00.settings/colors";

:root {
  --primary-color: #{$primary-color};
  --primary-color-hover: #{$primary-color-hover};

  --background-color: #{$background-color};
  --surface-color: #{$surface-color};

  --text-color: #{$text-color};

  --highlight-background: #{$highlight-background};
}

.dark-theme {
  --primary-color: #{$primary-color-dark};
  --primary-color-hover: #{$primary-color};

  --background-color: #{$background-color-dark-mod};
  --surface-color: #{$surface-color-dark};

  --text-color: #{$white};

  --highlight-background: #{$highlight-background-dark};
}
