@import "../atoms/all-atoms";
@import "../../04.objects/all-objects";

$_project-card-width: 30rem;
$_project-card-height: 17rem;

.project-card {
  @extend .card;
  @extend .card--md;

  &--dark {
    @extend .card--dark;
  }

  &__content {
    @extend %flex-base;
    width: $_project-card-width;
    height: $_project-card-height;
  }

  &__content-left {
    @extend %flex-col-base;
    width: 40%;
    height: $full;
    justify-content: space-between;
  }

  &__content-right {
    @extend %flex-col;
    width: $full;
    flex: 1;
    justify-content: space-between;
  }

  &__image {
    @extend .img--md;
  }

  &__header {
    @extend %flex-col-base;
  }

  &__business-model {
    @extend .highlighted-text;
    
    &--dark {
      @extend .highlighted-text--dark-mode;
    }
  }
}
