@import "../../00.settings/all-settings";
@import "../../04.objects/all-objects";
@import "../atoms/all-atoms";
@import "../../06.utilities/theme";

$_project-card-width: 30rem;
$_project-card-vertical-width: 17rem;
$_project-card-height: 17rem;

.project-card {
  &__content {
    @extend %flex-base;
    width: $_project-card-width;
    height: $_project-card-height;

    &--vertical {
      @extend %flex-col-xs;
      width: $_project-card-vertical-width;
    }
  }

  &__content-left {
    @extend %flex-col-base;
    width: 40%;
    height: $full;
    justify-content: space-between;
  }

  &__content-right {
    @extend %flex-col;
    width: $full;
    flex: 1;
    justify-content: space-between;
  }

  &__content-bottom {
    @extend %flex-col-base;
    justify-content: space-between;
    height: $full;
  }

  &__top-image-wrapper {
    position: relative;
  }

  &__top-image-tag {
    @extend %position-b-0;
    margin: $space-sm;
  }

  &__image {
    @extend .img--md;
  }

  &__header {
    @extend %flex-col-base;
  }

  &__business-model {
    @extend .highlighted-text;
  }
}

.project-card-financial-data {
  @extend %flex-col-base;
  flex: 1;
  font-size: $fs-base;

  &__data {
    font-size: $fs-md;
    font-weight: $fw-bold;
    color: $light-green;
  }

  &__info {
    font-style: italic;
    color: var(--text-color);
  }

  &__divider {
    width: $full;
    border: 0.5px solid $background-color-foggy;
  }

  &__in-study-content {
    @extend %flex-col-xs;
    text-align: start;
  }

  &--horizontal {
    @extend %flex-space-between;
    text-align: center;
  }
}

body.dark-theme .project-card-financial-data {
  &__data {
    color: $lime;
  }

  &__divider {
    border: 0.5px solid rgba($white, 0.2);
  }
}

.progress-bar {
  margin-top: 0.2rem;
  height: 1.5rem;
  position: relative;
  width: $full;
  border-radius: 3rem;

  background-color: var(--highlight-background);

  overflow: hidden;
  padding: $space-2xs;

  @extend %flex-space-between-center;

  &__bar {
    position: relative;
    overflow: hidden;
    background-color: $primary-color;
    height: $full;
    border-radius: 3rem;
  }

  &__max-amount {
    @extend %position-r-0;
    font-size: calc($fs-sm - 0.1rem);
    color: var(--text-color);
    margin-right: $space-base;
  }
}

body.dark-theme .progress-bar {
  &__bar {
    background-color: $white;
  }
}

.inner-bar {
  &__amount-wrapper {
    @extend %position-t-0;
    height: $full;
  }

  &__bar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $full;
  }

  &__bar {
    @extend %position-l-0;

    font-size: calc($fs-sm - 0.1rem);
    margin-left: $space-xs;
    font-weight: $fw-bold;
    color: white;
  }

  &__max-amount {
    margin-top: 0.07rem;
    @extend .progress-bar__max-amount;
   

   /*  &--dark-mode {
      color: $tag-bg-color-dark-mode;
    } */
  }
}

body.dark-theme .inner-bar {
  &__bar {
    color: $tag-bg-color-dark-mode;
  }
}
