@import "../atoms/all-atoms";
@import "../../04.objects/all-objects";

$_project-card-width: 30rem;
$_project-card-height: 17rem;

.project-card {
  @extend .card;
  @extend .card--md;

  &--dark {
    @extend .card--dark;
  }

  &__content {
    @extend %display-flex-base;
    width: $_project-card-width;
    height: $_project-card-height;
  }

  &__content-left {
    @extend %display-flex-col-base;
    width: 40%;
    height: $full;
    justify-content: space-between;
  }

  &__content-right {
    @extend %display-flex-col;
    width: $full;
    flex: 1;
    justify-content: space-between;
    //gap: $space-xs;
  }

  &__image {
    @extend .img--md;
  }

  &__header {
    @extend %display-flex-col-base;
  }

  &__business-model {
    background-color: $tag-bg-color; 
    font-weight: $fw-bold;
    border-radius: $br-sm;
    padding: $space-sm;
    
    &--dark{
      background-color: $tag-bg-color-dark-mode;
    }
  }
}
