@import "./01.tools/all-tools";
@import "./00.settings/colors";

:root {
  --primary-color: #{$primary-color};
  --primary-color-rgb: #{hexToRGB($primary-color)};
  --primary-color-hover: #{$primary-color-hover};

  --text-color: #{$text-color};
  --subtitle-color: #{$subtitle-color};

  --background-color: #{$background-color};

  --surface-color: #{$surface-color};

  --card-color: #{$card-color};

  --highlight-color: #{$highlight-color};
}

.dark-theme {
  --primary-color: #{$primary-color-dark};
  --primary-color-hover: #{$primary-color-dark-hover};

  --text-color: #{$white};
  --subtitle-color: #{$subtitle-color-dark};

  --background-color: #{$background-color-dark};

  --surface-color: #{$surface-color-dark};

  --card-color: #{$card-color-dark};

  --highlight-color: #{$highlight-color-dark};
}
