// Defining the html elements: h1, img, a ...
@import "../00.settings/all-settings.scss";

p {
  font-size: $fs-base;
  font-family: $ff-base;
  font-size: $fs-md;
  font-weight: $fw-base;
  color: $text-color;
}

h1{
  font-size: $fs-2xl;
  font-weight: $fw-bolder;
}

h2{
  font-size: $fs-xl;
  font-weight: $fw-bolder;
}

h3{
  font-size: $fs-lg;
  font-weight: $fw-bolder;
}

h4{
  font-size: $fs-md;
  font-weight: $fw-bold;
}