// Defining the html elements: h1, img, a ...
@import "../00.settings/all-settings.scss";
@import "../01.tools/all-tools";

p {
  font-size: $fs-base;
  font-family: $ff-base;
  font-size: $fs-md;
  font-weight: $fw-base;
  color: var(--text-color);
}

img {
  display: block;
}

h1 {
  font-size: $fs-2xl;
  font-weight: $fw-bolder;
  color: var(--text-color);

  @include isSmallerRange {
    font-size: $fs-xl;
  }
}

h2 {
  font-size: $fs-xl;
  font-weight: $fw-bolder;
  color: var(--text-color);

  @include isSmallerRange {
    font-size: $fs-lg;
  }
}

h3 {
  font-size: $fs-lg;
  font-weight: $fw-bolder;
  color: var(--text-color);

  @include isSmallerRange {
    font-size: $fs-md;
  }
}

h4 {
  font-size: $fs-md;
  font-weight: $fw-bold;
  color: var(--text-color);
}
