@import "../../06.utilities/theme";
@import "../../00.settings/all-settings";

.btn {
  padding: $space-xs $space-sm;
  -webkit-border-radius: $br-sm;
  -moz-border-radius: $br-sm;
  border-radius: $br-sm;
  text-align: center;
  font-weight: $fw-medium;
  border: $bw-sm solid transparent;

  transition: 0.3s;

  &--full-width {
    padding: $space-xs 0rem;
    width: $full;
  }

  &--primary {
    background-color: var(--primary-color);
    color: $white;

    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &--secondary {
    border: $bw-sm solid var(--primary-color);
    color: var(--text-color);

    &:hover {
      opacity: 0.8;
      border-color: var(--primary-color-hover);
      background-color: rgba($primary-color-light, 0.3);
    }
  }

  &--tertiary {
    color: var(--primary-color);
    background-color: $surface-color-foggy;

    &:hover {
      background-color: $background-color;
    }
  }

  &--sm {
    padding: $space-xs $space-sm;
    font-size: $fs-sm;
  }

  &--lg {
    padding: $space-xs $space-base;
    font-size: $fs-md;
  }
}
