@import "../../00.settings/all-settings";

.btn {
  padding: $space-xs $space-sm;
  -webkit-border-radius: $br-sm;
  -moz-border-radius: $br-sm;
  border-radius: $br-sm;
  text-align: center;
  font-weight: $fw-medium;
  border: $bw-sm solid transparent;
  
  transition: 0.3s;

  &--full-width {
    padding: $space-xs 0rem;
    width: $full;
  }

  &--primary {
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: $primary-color-hover;
    }
  }

  &--secondary {
    border: $bw-sm solid $primary-color;
    
    &:hover {
      border-color: rgba($primary-color-hover, 0.5);
      background-color: rgba($primary-color-light, 0.3);
    }
  }

  &--tertiary {
    color: $primary-color;
    background-color: $surface-color-foggy;

    &:hover {
      background-color: $surface-color;
    }
  }

  &--sm{
    padding: $space-2xs $space-sm;
    font-size: $fs-sm;
  }
  
  &--lg{
    padding: $space-xs $space-base;
    font-size: $fs-md;
  }
}
