@use "../../04.objects/all-objects";
@import "../../06.utilities/theme";
@import "../../01.tools/all-tools";
@import "../../00.settings/all-settings";
@import "./images";

.card {
  padding: $space-sm;
  border-radius: $br-base;
  background-color: var(--card-color);
  display: inline-block;
  border: $bw-sm solid rgba($white, 0.2);
  color: var(--text-color);

  @include shadow-base($gray);

  &--md {
    border-radius: $br-md;
  }
}

body.dark-theme .card{
  @include shadow-base($black);
}
