@import "../../06.utilities/theme";
@import "../../00.settings/all-settings";

.highlighted-text {
  @extend %padding-sm;

  background-color: var(--highlight-background);
  border-radius: $br-sm;

  &--xs {
    @extend %padding-xs;
    border-radius: $br-sm;
  }
}
