@use "../../04.objects/all-objects";
@import "../../01.tools/all-tools";
@import "../../00.settings/all-settings";

.img {
  &--sm {
    border-radius: $br-sm;
    overflow: hidden;
  }

  &--md {
    border-radius: $br-base;
    overflow: hidden;
  }

  &--lg {
    border-radius: $br-md;
    overflow: hidden;
  }
}

.img-wrapper-title {
  width: fit-content;
  height: fit-content;
  position: relative;

  &__content {
    padding: $space-sm;
    position: absolute;
    width: $full;
    top: 0rem;
    background: linear-gradient(0deg, transparent, #0000009a);


    &--bottom {
      bottom: 0rem;
      background: linear-gradient(0deg, #0000009a, transparent);
    }
  }

  &__title {
    color: $white;
    font-size: $fs-base;
  }

  &__subtitle {
    color: $white;
    font-size: $fs-sm;
  }
}
