@import "../../00.settings/all-settings";
@import "./highlighted-text";

.tag {
  display: inline-block;
  font-size: $fs-base;
  padding: $space-2xs $space-xs;

  border-radius: $br-sm;

  &--blue {
    color: #02B3E8;
    background-color: rgba(#02B3E8, .2);
  }
  
  &--green {
    color: #40C52B;
    background-color: rgba(#40C52B, .2);
  }
  
  &--orange {
    color: #FF4D01;
    background-color: rgba(#FF4D01, .2);
  }
  
  &--magenta {
    color: #F159F4;
    background-color: rgba(#F159F4, .2);
  }
}
