// Here goes all variables like: colors, font-size, z-index, typography, etc
@import "./colors";
@import "./typography";
@import "./borders";
@import "./spaces";
@import "./screen-sizes";

%paragraph {
  font-size: $fs-base;
  font-family: $ff-base;
  font-size: $fs-md;
  font-weight: $fw-base;
  color: var(--text-color);
}