$_white: #ffffff;
$_white-pale: #f6f2f2;
$_black: #2d3038;

$_dark-purple: #010f24;
$_purple: #1b2444;
$_light-purple: #4c5473;

$_light-gray: #dbdfe2;
$_pale-gray: #E3E9EB;
$_gray: #e0e0e0;
$_bluish-dark-gray: #4E6374;
$_bluish-darker-gray: #3a4956;
$_transparent-light-blue-gray: #8d9ba645;

$_blue-gray: #0586ad;
$_blue: #02b3e8;
$_sky-blue: #1ecbff;
$_pale-blue: #9CE8FF;
$_light-blue: #E5F9FF;

$_green: #008000;
$_light-green: #63b000;
$_lime: #8bf502;
$_light-green: #c7ecc7;
$_whatsapp: #23ae56;
$_light-whatsapp: #26c360;

$_light-ambar: #ffdba0;
$_light-brown: #935f00;

$_light-orange: #ff7640;
$_orange: #ff6200;

$_dark-gold: #df9100;
$_yellow: #ffff02;

// ------

$white: $_white;
$black: $_black;
$gray: $_gray;
$dark-purple: $_dark-purple;

$primary-color: $_blue;
$primary-color-hover: $_sky-blue;
$primary-color-pale: $_pale-blue;
$primary-color-light: $_light-blue;

$surface-color: $_white-pale;
$surface-color-foggy: $_pale-gray;
$surface-color-dark-mod: $_bluish-dark-gray;

$text-color: $_black;

$card-bg-color-dark: $_bluish-dark-gray;

$tag-bg-color: $_light-gray;
$tag-bg-color-dark-mode:  $_bluish-darker-gray;
$tag-blue: $_blue-gray;
$tag-light-blue: $_sky-blue;
$tag-green: $_green;
$tag-lime: $_lime;
$tag-orange: $_orange;
$tag-light-orange: $_light-orange;
$tag-dark-yellow: $_dark-gold;
$tag-yellow: $_yellow;
