@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&family=Urbanist:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');


$ff-base: "Inter", serif;

$fs-base: 1rem;

$fw-light: 200;
$fw-base: 300;
$fw-medium: 400;
$fw-bold: 400;